 @import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,700;1,400;1,700&display=swap");

html {
  box-sizing: border-box;
}

:root {
  /* --font-family: "Gentium Book Plus", serif; */
  --font-family: "Raleway", sans-serif;
  --primary-color: #f4d35e;
  --color-paragrah-footer: #0d3b66;
  --color-span: #ee964b;
  --color-servicios-footer: #f1dd95;
  --color-paragrah-servicios: #faf0ca;
  --color-deswcription: #ee964b;
  --form-invalid: #f95738;
  --valid: #49db57;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--color-paragrah-footer);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Header */

.hero {
  position: sticky;
  top: 0;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  /* padding: 0.5rem 0; */
}


.hero_navbar a {
  position: relative;
  display: inline-block;
  color: var(--color-paragrah-footer);
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.5s ease, text-decoration 0.5s ease;
}
.hero_navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 0.5s linear;
}
.hero_navbar a:hover {
  color: var(--color-servicios-footer);
}
.hero_navbar a:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 99%);
}

.sep-line_hero {
  width: 1px;
  height: 15px;
  background-color: black;
}


.hamburguer {
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}
.hamburguer * {
  width: 80%;
  height: 5px;
  border-radius: 5px;
  background-color: #222;
  opacity: 1;
  transform: rotate(0);
  transform-origin: left center;
  transition: opacity 1s linear, transform 0.5s linear;
}
.hamburguer.isActive span:nth-child(1) {
  transform-origin: left center;
  transform: rotate(38deg);
  transition: width 0.5s linear, transform 0.5s linear;
}
.hamburguer.isActive span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s linear;
}
.hamburguer.isActive span:nth-child(3) {
  transform-origin: left center;
  transform: rotate(-38deg);
  transition: width 0.5s linear, transform 0.5s linear;
}
/* Fin Header */

/* Quienes Somos */

.quienes-somos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.quienes-somos_title {
  box-sizing: border-box;
width: 50rem;
  text-align: center;
}

.qs__title {
  font-size: 2.5rem;
  text-align: center;
}

.quienes-somos_title hr {
  margin-top: 15px;
}

.qs_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  margin-bottom: 30px;
  margin-top: 15px;
}

.a_content {
  text-align: center;
  box-sizing: border-box;
  padding: 0vh 45vh;
  margin-bottom: 10px;
}

.a-item {
  box-sizing: border-box;
  padding: 0vh 20vh;
  display: flex;
  flex-direction: column-reverse;
}

.qs-item {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: 0vh 20vh;
  text-align: center;
}

.qs {
  font-size: 1.2rem;
  font-weight: 700;
}

.qs_img {
  margin-top: 20px;
  width: 185px;
  height: 180px;
  border-radius: 50%;
}

.qs-te_img {
  margin-bottom: 100px;
}

/* Fin Quienes Somos */
/* Modal */
div.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: rgb(34 34 34 / 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 1200;
  text-align: center;
}
div.modal figure {
  background-color: var(--color-paragrah-servicios);
  width: 70vw;
  height: 45vh;
  border-radius: 10px;
  display: grid;
  place-content: center;
}
div.modal figure img {
  width: 10vw;
  height: auto;
}
div.isActive-modal {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
/* Servicios */
.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  height: auto;
  background-color: var(--color-servicios-footer);
}

.servicios_title {
  font-size: 2rem;
  margin-top: 10vh;
  margin-bottom: 2vh;
  text-align: center;
}

.servicios hr {
  width: 50%;
  padding: 0.1rem;
  background-color: #222;
  /* margin-left: 25rem; */
}

.servicios section {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  gap: 1rem;
   margin-top: 25px; 
   margin-left: 20px; 
}
.servicios_item {
  width: 45vw;
  max-width: 400px;
  min-width: 250px;
  height: 45vh;
  /* background-color: rgba(37, 37, 37, 0.196); */
  border-radius: 10px;
  /* margin-top: 1rem; */
}

.servicios_item:hover {
  transform: scale(1.1);
}
.servicios_secciones_port {
  width: 90%;
  height: 70%;
}

.servicios_secciones_port:hover {
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.port_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item_info {
  /* margin-top: 170px; */
  text-align: center;
  border-radius: 10px;
  padding: 5px ;
  color: var(--color-paragrah-servicios);
  width: 25rem;
  height: auto;
  background-color: #7156a6a4;
}

.more_info {
  margin-top: 35px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.servicios_message {
  /* margin-left: 15px; */
  margin-top: 110px;
  left: 2px;
  bottom: 2px;
  font-size: 16px;
  text-align: center;
  color: var(--color-paragrah-footer);
}

.valores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;
  place-items: center;
  gap: 2rem;
  width: 95%;
  /* height: 100vh; */
  height: auto;
  margin: 3rem auto;
  /* margin-top: 5rem; */
  /* margin-left: 10rem; */
}

.valor-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  width: 20vw;
  min-width: 250px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#card span {
  font-size: 1.5rem;
  margin-bottom: 3vh;
  color: black;
}

#card:hover {
    transform: translateY(-4px);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.781);
}

footer {
  position: relative;
  /* padding-top: 0.2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--color-paragrah-footer);
}

.foo_contacto {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

/* .foo_logo {
  margin-right: 6rem;
} */

.form-ctc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2vh;
}
.form-ctc .container {
  position: relative;
}
.form-ctc .container input {
  font-family: var(--font-family);
  display: inline-block;
  width: 20rem;
  height: 2rem;
  border: none;
  outline: none;
  padding-left: 15px;
  border: none;
  color: var(--color-paragrah-servicios);
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  /* margin-right: 2vh; */
}
.form-ctc .container label {
  display: inline;
  position: absolute;
  width: 70px;
  z-index: 5;
  top: 0;
  left: 5%;
  transform: translateY(0.5vh);
  font-size: 14px;
  color: var(--color-paragrah-servicios);
  transition: transform 0.5s linear, background-color 1s linear;
}
.form-ctc .container input:focus + label,
.form-ctc .container input:not(:placeholder-shown) + label {
  transform: translateY(-2vh) translateX(-10px) scale(0.8);
}
#message {
  border: none;
  outline: none;
  width: 20rem;
  height: 6rem;
  /* margin-top: 5vh; */
  border-radius: 5px;
  padding-left: 0.5rem;
  border: none;
  color: var(--color-paragrah-servicios);
  background-color: rgb(30, 30, 30);
  resize: none;
}
.form-ctc .container textarea:focus + label,
.form-ctc .container textarea:not(:placeholder-shown) + label {
  transform: translateY(-2vh) translateX(-10px) scale(0.8);
}
input[type="submit"] {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--color-paragrah-footer);
  width: 60%;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s linear;
}
input[type="submit"]:disabled {
  opacity: 0.5;
}
input[type="submit"]:hover {
  background-color: var(--color-deswcription);
}
.form-ctc .container input:invalid {
  border: thin solid var(--form-invalid);
}
.form-ctc .container input:valid {
  border: thin solid var(--valid);
}
footer span {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-paragrah-servicios);
}

@media screen and (max-width: 630px) {
  .foo_contacto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 860px) {
  .quienes-somos {
    flex-direction: column;
  }
}

@media screen and (max-width: 465px) {
  .hero {
    justify-content: space-between;
    padding: 0 0.1rem;
  }

  .hero_navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 50%;
    background-color: var(--color-paragrah-servicios);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    gap: 2rem;
    transition: transform 0.5s linear;
  }
  .hamburguer {
    display: flex;
    position: relative;
    z-index: 100;
  }
  .present_img {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    /* margin-left: 15%; */
  }
}
.translate {
  transform: translateX(0);
  transition: transform 0.5s linear;
}
.translateES {
  transform: translateX(0);
  transition: transform 0.5s linear;
}

.cookies {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  background-color: #222;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.cookies.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.cookies img {
  margin-left: 4.5vh;
  width: 130px;
  height: 125px;
}

#content_cokies {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5vh 15vh;
}

.cookies_title {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-paragrah-servicios);
}

.cookies_content {
  color: var(--color-paragrah-servicios);
}

.accept_cookies {
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
  margin-right: 4.5vh;
  opacity: 0.3;
}

.accept_cookies:hover {
  content: "";
  opacity: 1;
}
